@import "tailwindcss";

/* Premium Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-300);
  border-radius: 9999px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-700);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-teal-500);
}